/*
    NOTA: Geralmente, algumas tag são originalmente feitas para seguir a ordem da
    vertical(significa que as tags: div, img e outras, sempre serão renderizados verticalmente).
    Mas dá para mudar isso com o flexBox. 
*/


main {
    /*estilizando a main */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#veterinaria {
    scale: 1.8;
}


.container_image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -13rem;

}

aside h1 span {
    color: #FF9900;
}

aside h1 {
    font-size: 10rem;
    text-align: center;
}

.container_image img:nth-child(2) {
    width: 600px;
}

#info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #ff990036;
    padding: 10px;
}

#info p span {
    color: #FF9900;
}

#info p {
    text-align: center;
}

.container_info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 6rem;

}

.container_info section {
    display: flex;
    align-items: self-start;
    flex-direction: column;
    justify-content: start;
}

.container_info section h1 {
    color: #FF9900;
    font-size: 2rem;
}

.container_info aside img {
    height: 500px;
}
#container_button {
    display: flex;
     align-items: center;
     width: 100%; 
     justify-content: space-around;
     margin-top: 2rem;
}

#container_button a {
    text-decoration: underline;
     cursor: pointer;
     color: black;
}

#container_button div img {
    width: 20px;
}
#container_button div {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: .8rem;
}

.container_porque_o_kambwa {
    margin-top: 10rem;
    margin-bottom: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
}

.card {
    display: flex;
    
}

.card_child:nth-child(2){
    scale: 1.1;
    background-color: #FF9900;
    text-align: center;
    padding: 20px;
    color: white;
    transition: 1s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
}

.card_child:nth-child(1) {
    transform: translateX(-10px);
}
.card_child:nth-child(3) {
    transform: translateX(10px);
}

.card_child:nth-child(1):hover{
    transform: translateX(-50px);
}
.card_child:nth-child(3):hover{
    transform: translateX(50px);
}

.container_porque_o_kambwa .title h1 {
    font-size: 2rem;
    color: #FDAF3B;
}

.card_child:nth-child(2) a {
    border: 1px solid white;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.card_child {
    transition: 1s;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.171);
    cursor: pointer;
    width: 400px;
    height: 500px;
    border: 1px solid #FF9900;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ciclo {
    width: 100px;
    height: 100px;
    background-color: #FDAF3B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

.card_child div p {
    text-align: center;
}

.container_informacao_adicionais {
    width: 95%;
    height: 40vh;
    background-color: #0B142C;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.container_informacao_adicionais p {
    color: #868686;
}

.filhotes, .superdog, .alimenta_o_com_amor{
    transition: 1s;
    cursor: pointer;
}

.filhotes:hover, .superdog:hover, .alimenta_o_com_amor:hover {
    transform: translateY(-10px);
    scale: 1.1;
}

.container_informacao_adicionais .filhotes #title {
    display: flex;
    align-items: center;
}

.avaliacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.orbita {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #FDAF3B;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    cursor: pointer;
}

.circulo {
    transition: 1s;
}

.avaliacao img {
    position: absolute;
    transform: translateX(70px);
}

.orbita:hover {
    border: 1px solid #FDAF3B;
    background: none;
}

.avaliacao:hover .circulo {
    width: 100px;
    transition: 1s;
    height: 100px;
    background-color: #FF9900;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}



